doctype html
html 
  head
    title= "Connect to Wordpress"
    link(rel="stylesheet", href="/css/bootstrap-theme.css")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/elegant-icons-style.css")
    link(rel="stylesheet", href="/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/style-responsive.css")
    link(rel="stylesheet", href="/css/style.css")
  body(class="login-body")
    div(class="container")
        header(class="header dark-bg")
            a(href="#", class="logo") BuzzChart
                span(class="lite") .js
        div(class="login-form")
            div(class="login-wrap")
                p(class="login-img") 
                    i(class="icon_lock_alt")
                button(class="btn btn-primary btn-lg btn-block") Connect
                label.checkbox 
                    input(type="checkbox")
                    | Stay connected
                    br

                